*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section1-container{
    height: 500px;
    background-image: url(image5.avif);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed
}
.image1 h1{
    text-align: center;
    color:white;
    font-size: 50px;
    display: flex;
    justify-content:center;
    padding-top: 150px;
 }
 .image1 p{
    margin-top: 40px;
    text-align: center;
    color:white;
    font-size: 50px;
    text-transform: uppercase; 
    display: flex;
    justify-content:center;
 }
 .section-text{
    height: 100px;
    background-color: red;
 }
 .section-text,text{
    color:black;
    padding-top: 30px;
    padding-left: 410px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 35px;
    background-color:white;
    letter-spacing: .05rem;

 }
 .project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right:70px;
    margin-top: 20px;
 }
 .project-section{
    height: 500px;
    width: 100%;
    background-color: darkgrey;
    padding-left: 70px;
    padding-top: 50px;
 }
 .project1{
    width: 300px;
    height: 400px;
    background-color:lightgrey;
    overflow: hidden;
    border: 2px solid   white;
    border-radius: 5px;
    
    

    
 }
 .image2,.image3,.image4{
    height:200px;
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.image2{
    background-image: url(image3.jpg);
    
}
 .image4{
    background-image: url(image4.jpg);
 }
 .contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
 }

 .contact-details{
    height: 150px;
    background-color:aqua ;
    width: 50%;
    overflow: hidden;
    border: 1px solid white;
    
 }
 .contact-details h1{
    color: white;
    margin-top: 10px;
    padding-left: 70px;
    
 }
 .contact-details p{
    color: white;
    margin-top: 10px;
    padding-left: 70px;
    font-size:17px;
    letter-spacing: .07rem;
    line-height: 1.5rem;
    
 }
 .About-me{
    height: 150px;
    background-color:skyblue ;
    width: 50%;
    overflow: hidden;
    border: 1px solid white;
 }
 .About-me h1{
    color: white;
    margin-top: 10px;
    padding-left: 70px;
    
 }
 .About-me p{
    color: white;
    margin-top: 10px;
    padding-left: 70px;
    font-size:17px;
    letter-spacing: .07rem;
    line-height: 1.5rem;
        
 }

 .footer{
    background-color: darkgray;
    padding-left: 300px;
    height: 90px;
    
        
 }
 .footer h1{
    font-size: 30px;
    padding-top: 30px;
    text-decoration:line-through ;
    letter-spacing: 1rem;
    
 }